.homepagewrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formwrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color : #4aee88;
}

.inputgroup{
  display: flex;
  flex-direction: column;
}

.mainlabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.homepagelogo{
  height : 80px;
}

.inputbox{
  padding: 10px;
  border-radius: 5px;
  outline : none;
  border: none;
  margin-bottom: 14px;
  background:  #eee;
  font-size: 16px;
  font-weight : bold;
}

.btn{
  border : none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinbtn{
  background: #4aee88;
  width: 100px;
  margin-left: auto;
  margin-bottom: 20px;
}

.joinbtn:hover{
  background: #2b824c;
}

.createinfo{
  margin: 0 auto;
}

.createnewbtn{
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.createnewbtn:hover{
  color: #2b824c;
  border-color: #2b824c;
}