.homepagewrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formwrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color : #4aee88;
}

.inputgroup{
  display: flex;
  flex-direction: column;
}

.mainlabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.homepagelogo{
  height : 80px;
}

.inputbox{
  padding: 10px;
  border-radius: 5px;
  outline : none;
  border: none;
  margin-bottom: 14px;
  background:  #eee;
  font-size: 16px;
  font-weight : bold;
}

.btn{
  border : none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinbtn{
  background: #4aee88;
  width: 100px;
  margin-left: auto;
  margin-bottom: 20px;
}

.joinbtn:hover,.leavebtn:hover{
  background: #2b824c;
}

.createinfo{
  margin: 0 auto;
}

.createnewbtn{
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.createnewbtn:hover{
  color: #2b824c;
  border-color: #2b824c;
}

.mainwrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside{
  background: #1c1e29;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.asideinner{
  flex: 1;
}

.clientslist{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.username{
  margin-top: 10px;
}

.leavebtn{
  width: 100%;
  margin-top: 20px;
  background: #4aee88;
}

.Codemirror{
  min-height: calc(100vh-20px);
}
